$color-blue: #041464;
$color-blue-2: #030f4e;
$color-azure: #1d89ff;
$color-error: #e11584;
$color-azure-light: #c9e4ff;

$padding-side-desktop: 9vw;
$padding-side-mobile: 5vw;

$bshadow: rgba(62, 57, 107, 0.3) 0px 6px 16px 0px;
