$margin-desktop: 1.5rem;
$margin-mobile: 1rem;

.board {
  display: flex;
  flex-direction: column;
  animation: fadeFromLeft 0.7s;

  // Initial height values set as a fallback
  // The actual height is adjusted responsively using JS, to be the same as the width
  height: 60rem;
  @include respond(mobile-land) {
    height: 90vw;
  }

  &__row {
    display: flex;
    height: calc(100% / 9);

    &:nth-child(3),
    &:nth-child(6) {
      margin-bottom: $margin-desktop;

      @include respond(mobile) {
        margin-bottom: $margin-mobile;
      }
    }
  }

  &__cell {
    display: block;
    width: calc(100% / 9);
    text-align: center;
    font: inherit;
    font-size: 1.5rem;
    font-weight: 500;
    border: 1px solid rgba(#000, 0.3);
    outline: none;
    background-color: #fff;

    @include respond(mobile) {
      font-size: 1.1rem;
    }

    &--prefilled {
      cursor: initial;
      background-color: $color-azure-light;
    }

    &:nth-child(3),
    &:nth-child(6) {
      margin-right: $margin-desktop;

      @include respond(mobile) {
        margin-right: $margin-mobile;
      }
    }
  }
}
